<h1>Editar</h1>

<%= render 'form', participante: @participante %>
<br/>
<%= link_to 'Exibir', @participante, class:"btn btn-primary" %> 
<%= link_to 'Voltar', participantes_path, class:"btn btn-default" %>
